tst.css
<!-- BEGIN CSS -->

header {
	padding: 20px;
	margin-top: 20px;
	margin-left: 330px;
	margin-bottom: 20px;
	background: #ffffff;
	width: 1000px;
	height: 50px;
    text-align: center;
	font-family: "Georgia", Times, Times New Roman, serif;
	border-bottom: thick dotted #ff0000;
	border-style: solid;
	border-color: #cccccc;
	float: left;
}